# Use the official Hashicorp Terraform image as our Docker worker
image:
  name: hashicorp/terraform:latest
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

# Define the order of operations
stages:
  - validate
  - plan
  - apply

# This runs before every single job to set up our "Worker Node"
before_script:
  - apk add --no-cache openssh-client ansible  # Install Ansible & SSH
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - echo "$SSH_PUBLIC_KEY" > ~/.ssh/id_rsa.pub
  - chmod 600 ~/.ssh/id_rsa
  - chmod 644 ~/.ssh/id_rsa.pub
  - terraform init

validate:
  stage: validate
  script:
    - terraform validate

plan:
  stage: plan
  script:
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - tfplan

apply:
  stage: apply
  script:
    - terraform apply -auto-approve tfplan
  only:
    - main  