image:
  name: hashicorp/terraform:latest
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

stages:
  - validate
  - plan
  - apply

before_script:
  - apk add --no-cache openssh-client ansible
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  # 1. This decodes the key for use by the OS/Ansible
  - echo "$SSH_PUBLIC_KEY" | base64 -d > ~/.ssh/id_rsa.pub
  # 2. THIS IS THE NEW LINE: This tells Terraform what the variable value is
  - export TF_VAR_SSH_PUBLIC_KEY=$(echo "$SSH_PUBLIC_KEY" | base64 -d)
  # 3. Use the File variable for the private key
  - cp "$SSH_PRIVATE_KEY" ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - terraform -chdir=main init

validate:
  stage: validate
  script:
    - terraform -chdir=main validate

plan:
  stage: plan
  script:
    - terraform -chdir=main plan -out=tfplan
  artifacts:
    # Save the plan file so the "apply" stage can find it
    paths:
      - main/tfplan

apply:
  stage: apply
  script:
    - terraform -chdir=main apply -auto-approve tfplan
  only:
    - main